*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  margin: 20px;
  overflow: scroll;
}

.App {
  width: 100%;
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.markdown,
.preview {
  resize: none;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.markdown {
  height: 500px;
}

@media screen and (max-width: 700px) {
  .App {
    flex-direction: column-reverse;
  }
  .preview {
    margin-bottom: 30px;
  }
}
