*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f8;
  margin: 20px;
  overflow: scroll;
}

.title {
  text-align: center;
  line-height: 1.2;
  text-decoration: underline;
  color: #75a8cf;
  margin-top: 20px;
}

.App {
  width: 100%;
  max-width: 1100px;
  margin: 60px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.markdown,
.preview {
  resize: none;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.markdown {
  height: 500px;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  outline: none;
}

@media screen and (max-width: 700px) {
  .App {
    flex-direction: column-reverse;
    margin: 50px auto;
  }
  .preview {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 250px) {
  .title {
    font-size: 1.7rem;
  }
}
